{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{% if genre %}
		{{ genre.description|truncatewords:155 }}
	{% else %}
		Welcome to the film store where you can rent entertaining and awesome movies.
	{% endif %}
{% endblock %}
{% block title %}
	{% if genre %}
		{{ genre.name }} - Movie Rental Store
	{% else %}
		See Our film Collection - Movie Rental Store
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->
	{% if genre %}
		<div class="row my_row_class">
			<div class="mx-auto">
				<p class="text-light"><a class="text-light" href="{% url 'movies:allFilmGenre' %}">Our film Collection</a> | {{genre.name}}</p>
			</div>
        </div>
    {% endif %}
	<div class="mx-auto">
		{% if genre %}
			<img class="my_image" src="{{genre.image.url}}" alt="{{genre.name}}">
		</div>
		<br>
		<div>
			<h1 class="text-centre my_title">{{genre.name}}</h1>
			<p class="text-justify">{{genre.description}}</p>
		</div>
    {% else %}
	</div>
	<br>
	<div>
		<h1 class="text-centre my_title text-danger">Our films Collection</h1>
		<p class="text-justify">Finding the perfect movie for your Friday night can instantly add to the levels of comfort and 
            sense of entertainment for the night. Whether its drama, comedy, action or horror youre looking for, we have it all here at Movie Rental Store.
			Rent any movie we have available for a small price, or sign up to be a subscriber and rent as many as you like with a one time payment!</p>
	</div>
    {% endif %}
    <div class="container">
		<div class="row mx-auto">
			{% for film in films %}
				<div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4">
					<div class="card text-center" style="min-width: 18rem;">
						<a href="{{film.get_absolute_url}}"><img class="card-img-top my_image" src="{{film.image.url}}" alt="{{film.name}}"></a>
						<div class="card-body">
							<h4 class="text-dark fw-bold">{{film.name}}</h4>
							<p class="text-dark">€{{film.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="mx-auto">
			{% if films.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in films.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if films.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</div>
{% endblock %}