{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{{ film.description|truncatewords:155 }}
{% endblock %}
{% block title %}
{{ film.name }} - Movie Rental Store
{% endblock %}
{% block content %}
<div class="row my_film_row_class">
    <div class="mx-auto">
        <p class="text-light"><a class="text-light" href="{% url 'movies:allFilmGenre' %}">Home</a> | <a class="text-light" href="{{film.genre.get_absolute_url }}">{{film.genre}}</a> | {{film.name}}</p>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width: 18rem;">
                    <img src="{{film.image.url}}" alt="{{film.name}}" width="500" height="500">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <h1 class="my_film_title">{{film.name}}</h1>
                    <p>€{{film.price}}</p>
                    <h4 class="my_title">Film Description</h4>
                    <p class="text-justify my_film_text">{{film.description}}</p>
                    {% if film.stock == 0%}
                        <p class="text-justify my_film_text"><b>Out of Stock</b></p>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'basket:add_basket' film.id %}">Add to Basket</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}